<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D21</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">D21</li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->




    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">38</div><span>Elections (TODO)</span></a></li>
        <li><a href="#"><div class="stat">55457</div><span>Apps (TODO)</span></a></li>
      </ul>
    </div>

    <hr>

    <div class="row column">
      <h3>Our Recent Work</h3>
    </div>

    <div class="row medium-up-3 large-up-4">
      <div class="column">
        <div class="callout">
          <h5>Election 1.</h5>
          <p>
            choice 1<br>choice 2
          </p>
        </div>
      </div>
      <div class="column">
        <div class="callout">
          <h5>Election 2.</h5>
          <p>
            choice 1<br>choice 2
          </p>
        </div>
      </div>
      <div class="column">
        <div class="callout">
          <h5>Election 3.</h5>
          <p>
            choice 1<br>choice 2
          </p>
        </div>
      </div>
      <div class="column">
        <div class="callout">
          <h5>Election 4.</h5>
          <p>
            choice 1<br>choice 2
          </p>
        </div>
      </div>
      <div class="column">
        <div class="callout">
          <h5>Election 5.</h5>
          <p>
            choice 1<br>choice 2
          </p>
        </div>
      </div>
    </div>

    <hr>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



